a. far inserire all'utente due valori interi

In [ ]:
numero1 = int(input("inserire numero 1 ="))
numero2 = int(input("inserire numero 2 ="))

inserire numero 1 = 10
inserire numero 2 = 2

 b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [ ]:
print("add ="+str(numero1 + numero2))
print("sot ="+str(numero1 - numero2))
print("div ="+str(numero1 / numero2))
print("molt ="+str(numero1 * numero2))

add =12
sot =8
div =5.0
molt =20

 c. 
effettuare l'elevamento a potenza del primo numero per il secondo

In [ ]:
print("potenza =" +str(pow(numero1,numero2)))

potenza =100

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [ ]:
print("resto =" +str(numero1 % numero2))

resto =0

f. effettuare la divisione intera tra il primo e il secondo numero

In [ ]:
print ("int div = " +str(numero1 // numero2))

int div = 5

g. incrementare di una unità entrambi i numeri

In [ ]:
print ("numero1 + 1 =" +str(numero1 + 1))
print ("numero2 + 1 =" +str(numero2 + 1))

numero1 + 1 =11
numero2 + 1 =3

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [ ]:
val1 = float(input("inserire la propria altezza in metri ="))
val2 = float(input("inserire il proprio peso in kg ="))

inserire la propria altezza in metri =1.79
inserire il proprio peso in kg =80

i. arrotondare l'IMC precedente

In [ ]:
imc = round(25,9)
print(imc)

25

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino

In [ ]:
nome = str(input("nome = "))  
cognome = str(input("  cognome = "))
datadinascita = str(input(" data di nascita = "))
cittàdinascita = str(input(" città di nascita ="))

nome = Gabriele
  cognome = Di Lecce
 data di nascita = 03/03/2005
 città di nascita = Milano

k. visualizzare le stesse informazioni per 10 volte di seguito

In [ ]:
informazioni = (nome, cognome, datadinascita, cittàdinascita)
print(informazioni * 10)

('Gabriele', 'Di Lecce', '03/03/2005', ' Milano', 'Gabriele', 'Di Lecce', '03/03/2005', ' Milano', 'Gabriele', 'Di Lecce', '03/03/2005', ' Milano', 'Gabriele', 'Di Lecce', '03/03/2005', ' Milano', 'Gabriele', 'Di Lecce', '03/03/2005', ' Milano', 'Gabriele', 'Di Lecce', '03/03/2005', ' Milano', 'Gabriele', 'Di Lecce', '03/03/2005', ' Milano', 'Gabriele', 'Di Lecce', '03/03/2005', ' Milano', 'Gabriele', 'Di Lecce', '03/03/2005', ' Milano', 'Gabriele', 'Di Lecce', '03/03/2005', ' Milano')

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [96]:
string = "gabriele di lecce"



print(string.upper())

GABRIELE DI LECCE

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [66]:
string = "gabriele di lecce."

print(string.title())

Gabriele Di Lecce.

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [60]:
string = "Gabriele Di Lecce"

lunghezza = len(string)

print(lunghezza)

17

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [85]:
string="Gabriele Di Lecce"
contatore=0
vocali= set('aeiou')
for lettera in string.lower(): 
    if lettera in vocali:contatore=contatore+1
print(contatore)

7

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [75]:
string = "Gabriele Di Lecce"
print(string[0:5])

Gabri

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [81]:

print(string[12:17])

Lecce

r.. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [84]:
print(string[6:11])

le Di

s. assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X

In [93]:
s = "Gabriele Di Lecce"
sX=s.replace('a','X').replace('e','X').replace('i','X').replace('o','X')


print(sX,)

GXbrXXlX DX LXccX