In [2]:
import pandas as pd

In [5]:
url = 'https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2015/06/phone_data.csv'
df = pd.read_csv(url)
df

     index            date  duration  item    month   network network_type
0        0  15/10/14 06:58    34.429  data  2014-11      data         data
1        1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2        2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3        3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4        4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
..     ...             ...       ...   ...      ...       ...          ...
825    825  13/03/15 00:38     1.000   sms  2015-03     world        world
826    826  13/03/15 00:39     1.000   sms  2015-03  Vodafone       mobile
827    827  13/03/15 06:58    34.429  data  2015-03      data         data
828    828  14/03/15 00:13     1.000   sms  2015-03     world        world
829    829  14/03/15 00:16     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

In [7]:
df.groupby('month').first()

         index            date  duration  item   network network_type
month
2014-11      0  15/10/14 06:58    34.429  data      data         data
2014-12    228  13/11/14 06:58    34.429  data      data         data
2015-01    381  13/12/14 06:58    34.429  data      data         data
2015-02    577  13/01/15 06:58    34.429  data      data         data
2015-03    729  12/02/15 20:15    69.000  call  landline     landline

In [9]:
df.groupby('month').groups.keys()

dict_keys(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'])

In [10]:
df.groupby('month')['duration'].sum()

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [11]:
df.groupby('month')['duration'].count()

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: duration, dtype: int64

In [ ]:
df.groupby('month')['duration'].sum()

In [12]:
operations = {
    'duration': sum,
    'network_type':"count",
    'date':'first'
}

df.groupby(['month','item']).agg(operations)

               duration  network_type            date
month   item
2014-11 call  25547.000           107  15/10/14 06:58
        data    998.441            29  15/10/14 06:58
        sms      94.000            94  16/10/14 22:18
2014-12 call  13561.000            79  14/11/14 17:24
        data   1032.870            30  13/11/14 06:58
        sms      48.000            48  14/11/14 17:28
2015-01 call  17070.000            88  15/12/14 20:03
        data   1067.299            31  13/12/14 06:58
        sms      86.000            86  15/12/14 19:56
2015-02 call  14416.000            67  15/01/15 10:36
        data   1067.299            31  13/01/15 06:58
        sms      39.000            39  15/01/15 12:23
2015-03 call  21727.000            47  12/02/15 20:15
        data    998.441            29  13/02/15 06:58
        sms      25.000            25  19/02/15 18:46

In [14]:
operations = {
    'duration': ['mean', 'sum'],
    'network_type':"count",
    'date':'first'
}

df.groupby(['month','item']).agg(operations)

                duration            network_type            date
                    mean        sum        count           first
month   item
2014-11 call  238.757009  25547.000          107  15/10/14 06:58
        data   34.429000    998.441           29  15/10/14 06:58
        sms     1.000000     94.000           94  16/10/14 22:18
2014-12 call  171.658228  13561.000           79  14/11/14 17:24
        data   34.429000   1032.870           30  13/11/14 06:58
        sms     1.000000     48.000           48  14/11/14 17:28
2015-01 call  193.977273  17070.000           88  15/12/14 20:03
        data   34.429000   1067.299           31  13/12/14 06:58
        sms     1.000000     86.000           86  15/12/14 19:56
2015-02 call  215.164179  14416.000           67  15/01/15 10:36
        data   34.429000   1067.299           31  13/01/15 06:58
        sms     1.000000     39.000           39  15/01/15 12:23
2015-03 call  462.276596  21727.000           47  12/02/15 20:15
        data   34.429000    998.441           29  13/02/15 06:58
        sms     1.000000     25.000           25  19/02/15 18:46

In [15]:
operations = {
    'duration': ['mean', 'sum'],
    'network_type':"count",
    'date':'nunique'
}

df.groupby(['month','item']).agg(operations)

                duration            network_type    date
                    mean        sum        count nunique
month   item
2014-11 call  238.757009  25547.000          107     104
        data   34.429000    998.441           29      29
        sms     1.000000     94.000           94      79
2014-12 call  171.658228  13561.000           79      76
        data   34.429000   1032.870           30      30
        sms     1.000000     48.000           48      41
2015-01 call  193.977273  17070.000           88      84
        data   34.429000   1067.299           31      31
        sms     1.000000     86.000           86      58
2015-02 call  215.164179  14416.000           67      67
        data   34.429000   1067.299           31      31
        sms     1.000000     39.000           39      27
2015-03 call  462.276596  21727.000           47      47
        data   34.429000    998.441           29      29
        sms     1.000000     25.000           25      17

In [19]:
gb = df.groupby('month').apply(lambda x: (x['duration'] >= 1000))
gb

month
2014-11  0      False
         1      False
         2      False
         3      False
         4      False
                ...
2015-03  825    False
         826    False
         827    False
         828    False
         829    False
Name: duration, Length: 830, dtype: bool

In [20]:
gb = df.groupby('month').apply(lambda x: (x['duration'] >= 1000))
df[gb.values == True]

     index            date  duration  item    month   network network_type
8        8  16/10/14 15:12    1050.0  call  2014-11     Three       mobile
10      10  16/10/14 16:21    1183.0  call  2014-11     Three       mobile
31      31  18/10/14 13:10    1714.0  call  2014-11     Three       mobile
59      59  23/10/14 08:34    1940.0  call  2014-11  landline     landline
105    105  31/10/14 13:27    1234.0  call  2014-11     Tesco       mobile
116    116  02/11/14 15:44    1023.0  call  2014-11     Three       mobile
117    117  02/11/14 19:16    1025.0  call  2014-11     Three       mobile
171    171  07/11/14 09:33    1205.0  call  2014-11  Vodafone       mobile
223    223  12/11/14 17:59    1001.0  call  2014-11     Three       mobile
252    252  19/11/14 18:56    2120.0  call  2014-12     Three       mobile
322    322  27/11/14 16:53    1116.0  call  2014-12     Three       mobile
398    398  17/12/14 18:08    1859.0  call  2015-01  Vodafone       mobile
548    548  08/01/15 20:31    1247.0  call  2015-01     Three       mobile
632    632  21/01/15 19:38    1090.0  call  2015-02    Meteor       mobile
636    636  22/01/15 19:00    1107.0  call  2015-02  Vodafone       mobile
648    648  25/01/15 16:55    1863.0  call  2015-02     Three       mobile
742    742  17/02/15 19:09    2328.0  call  2015-03     Three       mobile
809    809  03/03/15 14:34    1325.0  call  2015-03  Vodafone       mobile
816    816  04/03/15 12:29   10528.0  call  2015-03  landline     landline